name: Auto Move Baekjoon

on:
  push:
    branches:
      - main

jobs:
  move:
    if: github.repository_owner != 'algo-gongbu'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Move folder
        run: |
          TARGET=${{ vars.BAEKJOON_ID }}

          if [ -d "백준" ]; then
            mkdir -p "$TARGET"
            git config user.name "github-actions"
            git config user.email "actions@github.com"
            mv 백준 "$TARGET"/
            git add .
            git commit -m "auto: move to $TARGET folder"
            git push
          fi

